body{
    margin: 0 auto;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap : 40px;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 300px;
}

.courses{
    border: 1px solid #000;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.courses div:nth-child(even) {
    background-color: rgb(221, 239, 221);
}

.courses div{
    display: flex;
    width: 200px;
    border: 1px solid #000;
    text-align: center;
    flex-direction: column;
}

.courses div span{
    display: block;
}

.selected {
    background-color: deepskyblue !important;
}